.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 34px 148px 24px;
  margin: 0;
}
.header__title {
  font-size: 96px;
  text-align: center;
  line-height: 100px;
  margin: 0;
}
.header__description {
  font-size: 30px;
  text-align: center;
  line-height: 36px;
  margin: 0;
}
.header__logo {
  width: 254px;
  height: 64px;
}
.header__images {
  width: 100%;
  height: 685px;
}
.header__content {
}
.header__subtitle {
  font-size: 54px;
  max-width: 830px;
  line-height: 58px;
  height: 157px;
  font-family: "Inter", sans-serif;
  font-weight: 900px;
}
.header__paragraph {
  font-size: 24px;
  max-width: 738px;
  font-family: "Inter", sans-serif;
  font-weight: 400px;
  line-height: 34px;
}
.header__autor {
  display: flex;
  justify-content: end;
  font-family: "Inter", sans-serif;
  font-weight: 400px;
  font-size: 24px;
  line-height: 34px;
}
.header__text {
  font-family: "Inter", sans-serif;
  font-weight: 400px;
  font-size: 16px;
  max-width: 722px;
  line-height: 100%;
}
.header__footer {
  font-size: 14px;
  line-height: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400px;
}
@media only screen and (min-width: 768px) and (max-width: 1084px) {
  .header {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px 24px 24px;
  }
  .header__images {
    width: 100%;
    height: 60%;
    margin-top: 30px;
    padding: 0;
  }
  .header__subtitle {
    font-size: 45px;
    line-height: 49px;
  }
  .header__text {
    line-height: 163%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px 16px 24px;
  }
  .header__subtitle {
    font-size: 32px;
    line-height: 35px;
  }
  .header__paragraph {
    font-size: 24px;
    line-height: 30px;
  }
  .header__text {
    line-height: 163%;
  }
  .header__footer {
    font-size: 14px;
    line-height: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 400px;
  }
}
